
/* to handle the landing page  */
.entry_content{
  width: 100vw;
  height: 100vh;
    color: white;
    font-weight: bold;
    animation: entry 2.1s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



.entry_content h1{
    font-size: 4vw;
    filter: drop-shadow(2px 2px rgba(135, 171, 241, 0.973));
  }
  
  .entry_content h2{
    font-size: 3.5vw;
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.973));
}

.entry_content img{
  width: 25vw;
  height: auto;
  margin-right: 3vw;
}

.ballButton img{
  width: 7vw;
}
.ballButton h3{
  font-size: 1.5vw;
}
/* to handle the exit page  */
.exit_content{

    font-weight: bold;
    animation: exit 2.1s ease-out forwards;
}

.exit_content h1{
    font-size: 10vw;
    color: white;
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.973));
}







@keyframes entry {
    from {
        opacity: 0;
      }
      to {
        opacity: 0.8;
      }
}

@keyframes exit {
    from {
        opacity: 0;
      }
      to {
        opacity: 0.8;
      }
}

